In [1]:
import xarray as xr
from src.helper_functions import load_all_input_dataframes

In [1]:
from CommunityFirnModel.CFM_Lancaster.src.helper_functions import load_all_input_dataframes

ModuleNotFoundError: No module named 'CommunityFirnModel'

In [2]:
import xarray
import glob
import pandas as pd
import numpy as np
from src.helper_functions import load_all_input_dataframes

ModuleNotFoundError: No module named 'src'

In [2]:
example_df = load_all_input_dataframes('/home/jez/Community_Firn_Model_Forked/CommunityFirnModel/CFM_main/CFMinput_example/example_*.csv')
adjusted_df = load_all_input_dataframes('/home/jez/Community_Firn_Model_Forked/CommunityFirnModel/CFM_main/CFMinput_example/adjusted_*.csv')
summit_adjusted_df = load_all_input_dataframes('/home/jez/Community_Firn_Model_Forked/CommunityFirnModel/CFM_main/CFMinput_example/Summit_adjusted_*.csv')

In [4]:
summit_adjusted_df.describe()

AttributeError: 'NoneType' object has no attribute 'describe'

In [61]:
example_df.describe()

,example_SMELT.csv,example_SUBLIM.csv,example_STRAIN.csv,1,example_ISOTOPE_dD.csv,example_ISOTOPE_d18O.csv,example_RAIN.csv,example_BDOT.csv,example_TSKIN.csv
count,6828.000000,6828.000000,6828.000000,6828.000000,6828.000000,6828.000000,6.828000e+03,6828.000000,6828.000000
mean,0.000271,-0.006691,0.001108,-0.001178,-248.728280,-32.341035,1.535824e-09,0.230435,240.413524
std,0.002711,0.014419,0.001518,0.001591,72.374357,9.046795,1.269078e-07,0.096925,11.982510
min,0.000000,-0.035479,-0.000024,-0.004825,-376.972717,-48.371590,-1.135081e-20,0.047071,219.181000
25%,0.000000,-0.015469,0.000133,-0.001562,-309.602325,-39.950291,0.000000e+00,0.154562,230.335037
50%,0.000000,-0.010092,0.000272,-0.000333,-259.033386,-33.629173,0.000000e+00,0.224072,238.707382
75%,0.000000,-0.001141,0.001481,-0.000159,-173.545776,-22.943222,0.000000e+00,0.290216,252.860958
max,0.127881,0.033306,0.004539,-0.000012,-123.653267,-16.706657,1.048661e-05,0.564016,261.121307

In [11]:
adjusted_df.describe()

,adjusted_RAIN.csv,adjusted_ISOTOPE_d18O.csv,adjusted_TSKIN.csv,adjusted_ISOTOPE_dD.csv,adjusted_SUBLIM.csv,adjusted_STRAIN.csv,1,adjusted_BDOT.csv,adjusted_SMELT.csv
count,6.830000e+02,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000
mean,1.535374e-08,-32.295085,240.474384,-248.360681,-0.007083,0.001106,-0.001176,0.232966,0.000973
std,4.012589e-07,9.104469,12.058899,72.835753,0.013609,0.001518,0.001591,0.101366,0.012658
min,-1.135081e-20,-48.371590,219.181000,-376.972717,-0.032400,-0.000024,-0.004824,0.089608,0.000000
25%,0.000000e+00,-40.440578,229.685654,-313.524628,-0.017187,0.000133,-0.001549,0.142424,0.000000
50%,0.000000e+00,-31.165779,241.970154,-239.326233,-0.010949,0.000272,-0.000333,0.221954,0.000000
75%,0.000000e+00,-24.815477,250.381149,-188.523819,0.006215,0.001469,-0.000159,0.298495,0.000000
max,1.048661e-05,-17.306938,260.326233,-128.455505,0.023284,0.004536,-0.000012,0.564016,0.300000

In [71]:
df = pd.read_csv('/home/jez/Community_Firn_Model_Forked/CommunityFirnModel/CFM_main/CFMinput_example/example_SMELT.csv')
df = df.T#[::10]

In [76]:
df[0][:10]

1.452081967213114694e+03    0.000000
1.452161202185792263e+03    0.000000
1.452245901639344311e+03    0.000000
1.452327868852459005e+03    0.000000
1.452412568306010826e+03    0.000000
1.452494535519125748e+03    0.000000
1.452579234972677568e+03    0.012065
1.452663934426229616e+03    0.000000
1.452745901639344311e+03    0.000000
1.452830601092896131e+03    0.000000
Name: 0, dtype: float64

In [32]:
df.index.values.astype('float64')

array([1452.08196721, 1452.91256831, 1453.74520548, 1454.57808219,
       1455.4109589 , 1456.24590164, 1457.08219178, 1457.91232877,
       1458.74520548, 1459.57808219, 1460.41256831, 1461.24383562,
       1462.08219178, 1462.91232877, 1463.74520548, 1464.57923497,
       1465.4109589 , 1466.24383562, 1467.08219178, 1467.91232877,
       1468.74590164, 1469.57808219, 1470.4109589 , 1471.24383562,
       1472.08196721, 1472.91256831, 1473.74520548, 1474.57808219,
       1475.4109589 , 1476.24590164, 1477.08219178, 1477.91232877,
       1478.74520548, 1479.57808219, 1480.41256831, 1481.24383562,
       1482.08219178, 1482.91232877, 1483.74520548, 1484.57923497,
       1485.4109589 , 1486.24383562, 1487.08219178, 1487.91232877,
       1488.74590164, 1489.57808219, 1490.4109589 , 1491.24383562,
       1492.08196721, 1492.91256831, 1493.74520548, 1494.57808219,
       1495.4109589 , 1496.24590164, 1497.08219178, 1497.91232877,
       1498.74520548, 1499.57808219, 1500.41256831, 1501.24383562,
       1502.08219178, 1502.91232877, 1503.74520548, 1504.57923497,
       1505.4109589 , 1506.24383562, 1507.08219178, 1507.91232877,
       1508.74590164, 1509.57808219, 1510.4109589 , 1511.24383562,
       1512.08196721, 1512.91256831, 1513.74520548, 1514.57808219,
       1515.4109589 , 1516.24590164, 1517.08219178, 1517.91232877,
       1518.74520548, 1519.57808219, 1520.41256831, 1521.24383562,
       1522.08219178, 1522.91232877, 1523.74520548, 1524.57923497,
       1525.4109589 , 1526.24383562, 1527.08219178, 1527.91232877,
       1528.74590164, 1529.57808219, 1530.4109589 , 1531.24383562,
       1532.08196721, 1532.91256831, 1533.74520548, 1534.57808219,
       1535.4109589 , 1536.24590164, 1537.08219178, 1537.91232877,
       1538.74520548, 1539.57808219, 1540.41256831, 1541.24383562,
       1542.08219178, 1542.91232877, 1543.74520548, 1544.57923497,
       1545.4109589 , 1546.24383562, 1547.08219178, 1547.91232877,
       1548.74590164, 1549.57808219, 1550.4109589 , 1551.24383562,
       1552.08196721, 1552.91256831, 1553.74520548, 1554.57808219,
       1555.4109589 , 1556.24590164, 1557.08219178, 1557.91232877,
       1558.74520548, 1559.57808219, 1560.41256831, 1561.24383562,
       1562.08219178, 1562.91232877, 1563.74520548, 1564.57923497,
       1565.4109589 , 1566.24383562, 1567.08219178, 1567.91232877,
       1568.74590164, 1569.57808219, 1570.4109589 , 1571.24383562,
       1572.08196721, 1572.91256831, 1573.74520548, 1574.57808219,
       1575.4109589 , 1576.24590164, 1577.08219178, 1577.91232877,
       1578.74520548, 1579.57808219, 1580.41256831, 1581.24383562,
       1582.08219178, 1582.91232877, 1583.74520548, 1584.57923497,
       1585.4109589 , 1586.24383562, 1587.08219178, 1587.91232877,
       1588.74590164, 1589.57808219, 1590.4109589 , 1591.24383562,
       1592.08196721, 1592.91256831, 1593.74520548, 1594.57808219,
       1595.4109589 , 1596.24590164, 1597.08219178, 1597.91232877,
       1598.74520548, 1599.57808219, 1600.41256831, 1601.24383562,
       1602.08219178, 1602.91232877, 1603.74520548, 1604.57923497,
       1605.4109589 , 1606.24383562, 1607.08219178, 1607.91232877,
       1608.74590164, 1609.57808219, 1610.4109589 , 1611.24383562,
       1612.08196721, 1612.91256831, 1613.74520548, 1614.57808219,
       1615.4109589 , 1616.24590164, 1617.08219178, 1617.91232877,
       1618.74520548, 1619.57808219, 1620.41256831, 1621.24383562,
       1622.08219178, 1622.91232877, 1623.74520548, 1624.57923497,
       1625.4109589 , 1626.24383562, 1627.08219178, 1627.91232877,
       1628.74590164, 1629.57808219, 1630.4109589 , 1631.24383562,
       1632.08196721, 1632.91256831, 1633.74520548, 1634.57808219,
       1635.4109589 , 1636.24590164, 1637.08219178, 1637.91232877,
       1638.74520548, 1639.57808219, 1640.41256831, 1641.24383562,
       1642.08219178, 1642.91232877, 1643.74520548, 1644.57923497,
       1645.4109589 , 1646.24383562, 1647.08219178, 1647.91232877,
       1648.74590164, 1649.57808219, 1650.4109589 , 1651.24383562,
       1652.08196721, 1652.91256831, 1653.74520548, 1654.57808219,
       1655.4109589 , 1656.24590164, 1657.08219178, 1657.91232877,
       1658.74520548, 1659.57808219, 1660.41256831, 1661.24383562,
       1662.08219178, 1662.91232877, 1663.74520548, 1664.57923497,
       1665.4109589 , 1666.24383562, 1667.08219178, 1667.91232877,
       1668.74590164, 1669.57808219, 1670.4109589 , 1671.24383562,
       1672.08196721, 1672.91256831, 1673.74520548, 1674.57808219,
       1675.4109589 , 1676.24590164, 1677.08219178, 1677.91232877,
       1678.74520548, 1679.57808219, 1680.41256831, 1681.24383562,
       1682.08219178, 1682.91232877, 1683.74520548, 1684.57923497,
       1685.4109589 , 1686.24383562, 1687.08219178, 1687.91232877,
       1688.74590164, 1689.57808219, 1690.4109589 , 1691.24383562,
       1692.08196721, 1692.91256831, 1693.74520548, 1694.57808219,
       1695.4109589 , 1696.24590164, 1697.08219178, 1697.91232877,
       1698.74520548, 1699.57808219, 1700.41256831, 1701.24383562,
       1702.08219178, 1702.91232877, 1703.74520548, 1704.57923497,
       1705.4109589 , 1706.24383562, 1707.08219178, 1707.91232877,
       1708.74590164, 1709.57808219, 1710.4109589 , 1711.24383562,
       1712.08196721, 1712.91256831, 1713.74520548, 1714.57808219,
       1715.4109589 , 1716.24590164, 1717.08219178, 1717.91232877,
       1718.74520548, 1719.57808219, 1720.41256831, 1721.24383562,
       1722.08219178, 1722.91232877, 1723.74520548, 1724.57923497,
       1725.4109589 , 1726.24383562, 1727.08219178, 1727.91232877,
       1728.74590164, 1729.57808219, 1730.4109589 , 1731.24383562,
       1732.08196721, 1732.91256831, 1733.74520548, 1734.57808219,
       1735.4109589 , 1736.24590164, 1737.08219178, 1737.91232877,
       1738.74520548, 1739.57808219, 1740.41256831, 1741.24383562,
       1742.08219178, 1742.91232877, 1743.74520548, 1744.57923497,
       1745.4109589 , 1746.24383562, 1747.08219178, 1747.91232877,
       1748.74590164, 1749.57808219, 1750.4109589 , 1751.24383562,
       1752.08196721, 1752.91256831, 1753.74520548, 1754.57808219,
       1755.4109589 , 1756.24590164, 1757.08219178, 1757.91232877,
       1758.74520548, 1759.57808219, 1760.41256831, 1761.24383562,
       1762.08219178, 1762.91232877, 1763.74520548, 1764.57923497,
       1765.4109589 , 1766.24383562, 1767.08219178, 1767.91232877,
       1768.74590164, 1769.57808219, 1770.4109589 , 1771.24383562,
       1772.08196721, 1772.91256831, 1773.74520548, 1774.57808219,
       1775.4109589 , 1776.24590164, 1777.08219178, 1777.91232877,
       1778.74520548, 1779.57808219, 1780.41256831, 1781.24383562,
       1782.08219178, 1782.91232877, 1783.74520548, 1784.57923497,
       1785.4109589 , 1786.24383562, 1787.08219178, 1787.91232877,
       1788.74590164, 1789.57808219, 1790.4109589 , 1791.24383562,
       1792.08196721, 1792.91256831, 1793.74520548, 1794.57808219,
       1795.4109589 , 1796.24590164, 1797.08219178, 1797.91232877,
       1798.74520548, 1799.57808219, 1800.41256831, 1801.24383562,
       1802.08219178, 1802.91232877, 1803.74520548, 1804.57923497,
       1805.4109589 , 1806.24383562, 1807.08219178, 1807.91232877,
       1808.74590164, 1809.57808219, 1810.4109589 , 1811.24383562,
       1812.08196721, 1812.91256831, 1813.74520548, 1814.57808219,
       1815.4109589 , 1816.24590164, 1817.08219178, 1817.91232877,
       1818.74520548, 1819.57808219, 1820.41256831, 1821.24383562,
       1822.08219178, 1822.91232877, 1823.74520548, 1824.57923497,
       1825.4109589 , 1826.24383562, 1827.08219178, 1827.91232877,
       1828.74590164, 1829.57808219, 1830.4109589 , 1831.24383562,
       1832.08196721, 1832.91256831, 1833.74520548, 1834.57808219,
       1835.4109589 , 1836.24590164, 1837.08219178, 1837.91232877,
       1838.74520548, 1839.57808219, 1840.41256831, 1841.24383562,
       1842.08219178, 1842.91232877, 1843.74520548, 1844.57923497,
       1845.4109589 , 1846.24383562, 1847.08219178, 1847.91232877,
       1848.74590164, 1849.57808219, 1850.4109589 , 1851.24383562,
       1852.08196721, 1852.91256831, 1853.74520548, 1854.57808219,
       1855.4109589 , 1856.24590164, 1857.08219178, 1857.91232877,
       1858.74520548, 1859.57808219, 1860.41256831, 1861.24383562,
       1862.08219178, 1862.91232877, 1863.74520548, 1864.57923497,
       1865.4109589 , 1866.24383562, 1867.08219178, 1867.91232877,
       1868.74590164, 1869.57808219, 1870.4109589 , 1871.24383562,
       1872.08196721, 1872.91256831, 1873.74520548, 1874.57808219,
       1875.4109589 , 1876.24590164, 1877.08219178, 1877.91232877,
       1878.74520548, 1879.57808219, 1880.41256831, 1881.24383562,
       1882.08219178, 1882.91232877, 1883.74520548, 1884.57923497,
       1885.4109589 , 1886.24383562, 1887.08219178, 1887.91232877,
       1888.74590164, 1889.57808219, 1890.4109589 , 1891.24383562,
       1892.08196721, 1892.91256831, 1893.74520548, 1894.57808219,
       1895.4109589 , 1896.24590164, 1897.08219178, 1897.91232877,
       1898.74520548, 1899.57808219, 1900.41256831, 1901.24383562,
       1902.08219178, 1902.91232877, 1903.74520548, 1904.57923497,
       1905.4109589 , 1906.24383562, 1907.08219178, 1907.91232877,
       1908.74590164, 1909.57808219, 1910.4109589 , 1911.24383562,
       1912.08196721, 1912.91256831, 1913.74520548, 1914.57808219,
       1915.4109589 , 1916.24590164, 1917.08219178, 1917.91232877,
       1918.74520548, 1919.57808219, 1920.41256831, 1921.24383562,
       1922.08219178, 1922.91232877, 1923.74520548, 1924.57923497,
       1925.4109589 , 1926.24383562, 1927.08219178, 1927.91232877,
       1928.74590164, 1929.57808219, 1930.4109589 , 1931.24383562,
       1932.08196721, 1932.91256831, 1933.74520548, 1934.57808219,
       1935.4109589 , 1936.24590164, 1937.08219178, 1937.91232877,
       1938.74520548, 1939.57808219, 1940.41256831, 1941.24383562,
       1942.08219178, 1942.91232877, 1943.74520548, 1944.57923497,
       1945.4109589 , 1946.24383562, 1947.08219178, 1947.91232877,
       1948.74590164, 1949.57808219, 1950.4109589 , 1951.24383562,
       1952.08196721, 1952.91256831, 1953.74520548, 1954.57808219,
       1955.4109589 , 1956.24590164, 1957.08219178, 1957.91232877,
       1958.74520548, 1959.57808219, 1960.41256831, 1961.24383562,
       1962.08219178, 1962.91232877, 1963.74520548, 1964.57923497,
       1965.4109589 , 1966.24383562, 1967.08219178, 1967.91232877,
       1968.74590164, 1969.57808219, 1970.4109589 , 1971.24383562,
       1972.08196721, 1972.91256831, 1973.74520548, 1974.57808219,
       1975.4109589 , 1976.24590164, 1977.08219178, 1977.91232877,
       1978.74520548, 1979.57808219, 1980.41256831, 1981.24383562,
       1982.08219178, 1982.91232877, 1983.74520548, 1984.57923497,
       1985.4109589 , 1986.24383562, 1987.08219178, 1987.91232877,
       1988.74590164, 1989.57808219, 1990.4109589 , 1991.24383562,
       1992.08196721, 1992.91256831, 1993.74520548, 1994.57808219,
       1995.4109589 , 1996.24590164, 1997.08219178, 1997.91232877,
       1998.74520548, 1999.57808219, 2000.41256831, 2001.24383562,
       2002.08219178, 2002.91232877, 2003.74520548, 2004.57923497,
       2005.4109589 , 2006.24383562, 2007.08219178, 2007.91232877,
       2008.74590164, 2009.57808219, 2010.4109589 , 2011.24383562,
       2012.08196721, 2012.91256831, 2013.74520548, 2014.57808219,
       2015.4109589 , 2016.24590164, 2017.08219178, 2017.91232877,
       2018.74520548, 2019.57808219, 2020.41256831])

In [29]:
np.argwhere(df.index.values>1900).min()

TypeError: '>' not supported between instances of 'str' and 'int'

In [18]:
path = '/home/jez/Community_Firn_Model_Forked/CommunityFirnModel/CFM_main/CFMinput_example/example_SMELT.csv'

df = pd.read_csv(path)
df.T[0][:] = 3.0
df.to_csv(f'/home/jez/Community_Firn_Model_Forked/CommunityFirnModel/CFM_main/CFMinput_example/adjusted2_SMELT.csv',index=False, header=True)

In [19]:
df = pd.read_csv('/home/jez/Community_Firn_Model_Forked/CommunityFirnModel/CFM_main/CFMinput_example/example_STRAIN.csv')

In [17]:
df.T[1][:] = 1.0

In [20]:
df.T

                                 0         1
1.452081967213114694e+03  0.000119 -0.000012
1.452161202185792263e+03  0.000118 -0.000012
1.452245901639344311e+03  0.000118 -0.000012
1.452327868852459005e+03  0.000118 -0.000013
1.452412568306010826e+03  0.000117 -0.000013
...                            ...       ...
2.020663934426229616e+03  0.004294 -0.004775
2.020745901639344311e+03  0.004293 -0.004774
2.020830601092896131e+03  0.004292 -0.004774
2.020912568306010826e+03  0.004291 -0.004773
2.020997267759562874e+03  0.004290 -0.004773

[6828 rows x 2 columns]

In [8]:
df.T[[0]]

                                 0
1.452081967213114694e+03  0.000119
1.452161202185792263e+03  0.000118
1.452245901639344311e+03  0.000118
1.452327868852459005e+03  0.000118
1.452412568306010826e+03  0.000117
...                            ...
2.020663934426229616e+03  0.004294
2.020745901639344311e+03  0.004293
2.020830601092896131e+03  0.004292
2.020912568306010826e+03  0.004291
2.020997267759562874e+03  0.004290

[6828 rows x 1 columns]

In [47]:
path = '/home/jez/Community_Firn_Model_Forked/CommunityFirnModel/CFM_main/CFMinput_example/example_*.csv'

for f in glob.glob(path):
    df = pd.read_csv(f)
    df = df.T#[::10]
    # df.index = summit_adjusted_df.time

    df = df[np.argwhere(df.index.values.astype('float64')>1900).min():]

    if 'SMELT' in f:
        print('Melt')
        df[0][:] = 0.1
        # df[0] = 0.08#summit_adjusted_df['Summit_adjusted_snowmelt.csv'].values
    if 'STRAIN' in f:
        print('Strain')
        # df[0][:] = 0.01
        # df[1][:] = 0.01
        df = df[[0]] 
        df[0][:] = -0.015
    
    df = df.T
    file_end = f.split('example_')[-1]
    print(file_end)
    df.to_csv(f'/home/jez/Community_Firn_Model_Forked/CommunityFirnModel/CFM_main/CFMinput_example/adjusted_{file_end}',index=False, header=True)

Melt
SMELT.csv
SUBLIM.csv
Strain
STRAIN.csv
ISOTOPE_dD.csv
ISOTOPE_d18O.csv
RAIN.csv
BDOT.csv
TSKIN.csv

In [56]:
path = '/home/jez/Community_Firn_Model_Forked/CommunityFirnModel/CFM_main/CFMinput_example/example_*.csv'

for f in glob.glob(path):
    df = pd.read_csv(f)
    df = df.T[::10]
    df.index = summit_adjusted_df.time
    if 'SMELT' in f:
        print('Melt')
        df[0] = 0.086#summit_adjusted_df['Summit_adjusted_snowmelt.csv'].values
    df = df.T
    file_end = f.split('example_')[-1]
    print(file_end)
    df.to_csv(f'/home/jez/Community_Firn_Model_Forked/CommunityFirnModel/CFM_main/CFMinput_example/adjusted2_{file_end}',index=False, header=True)

Melt
SMELT.csv
SUBLIM.csv
STRAIN.csv
ISOTOPE_dD.csv
ISOTOPE_d18O.csv
RAIN.csv
BDOT.csv
TSKIN.csv

In [52]:
path = '/home/jez/Community_Firn_Model_Forked/CommunityFirnModel/CFM_main/CFMinput_example/Summit_*.csv'

for f in glob.glob(path):
    df = pd.read_csv(f)
    df = df.T
    df[df < 1e-4] = 0
    df = df[:683]
    df = df.T
    file_end = f.split('Summit_')[-1]
    print(file_end)
    df.to_csv(f'/home/jez/Community_Firn_Model_Forked/CommunityFirnModel/CFM_main/CFMinput_example/Summit_adjusted_{file_end}',index=False, header=True)

adjusted_snowfall.csv
rainfall.csv
adjusted_rainfall.csv
adjusted_adjusted_precip.csv
adjusted_adjusted_snowfall.csv
precip.csv
adjusted_adjusted_tskin.csv
snowmelt.csv
adjusted_snowmelt.csv
tskin.csv
adjusted_adjusted_rainfall.csv
adjusted_tskin.csv
adjusted_adjusted_snowmelt.csv
adjusted_precip.csv
snowfall.csv

In [51]:
df_test[:600]

                             0
1957.7053652968034  234.635101
1957.7890190013263  229.673218
1957.8726027397265  244.697510
1957.9561643835618  257.235687
1958.0410958904108  250.329300
...                        ...
2007.2861872146116  241.049820
2007.3697488584485  243.998962
2007.4533105022836  256.855835
2007.536872146119   245.927155
2007.621803652968   224.173889

[600 rows x 1 columns]

In [48]:
df_test = df.T

In [30]:
df_test[df_test > 240] = 11

In [31]:
df_test

                                   0
1.452081967213114694e+03  234.635101
1.452912568306010826e+03  229.673218
1.453745205479452125e+03   11.000000
1.454578082191780823e+03   11.000000
1.455410958904109521e+03   11.000000
...                              ...
2.017082191780821859e+03  229.018021
2.017912328767123199e+03  232.013458
2.018745205479452125e+03   11.000000
2.019578082191780823e+03   11.000000
2.020412568306010826e+03   11.000000

[683 rows x 1 columns]

In [15]:
f = glob.glob(path)[0]

In [18]:
f.split('example_')[-1]

'SMELT.csv'

In [14]:
df.T[::100].T

,1.452081967213114694e+03,1.460412568306010826e+03,1.468745901639344311e+03,1.477082191780821859e+03,1.485410958904109521e+03,1.493745205479452125e+03,1.502082191780821859e+03,1.510410958904109521e+03,1.518745205479452125e+03,1.527082191780821859e+03,...,1.943745205479452125e+03,1.952081967213114694e+03,1.960412568306010826e+03,1.968745901639344311e+03,1.977082191780821859e+03,1.985410958904109521e+03,1.993745205479452125e+03,2.002082191780821859e+03,2.010410958904109521e+03,2.018745205479452125e+03
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
def load_all_input_dataframes2(path):
    df_all = None
    for f in glob.glob(path):
        df = pd.read_csv(f).T.reset_index()
        df.rename(columns = {"index":"time",0:f"{f.split('/')[-1]}"}, inplace = True)
        if df_all is None:
            df_all=df
        else:
            df_all = pd.merge(df_all,df,on='time')
    return(df_all)

In [3]:
example_df

,time,example_SMELT.csv,example_SUBLIM.csv,example_STRAIN.csv,1,example_ISOTOPE_dD.csv,example_ISOTOPE_d18O.csv,example_RAIN.csv,example_BDOT.csv,example_TSKIN.csv
0,1.452081967213114694e+03,0.0,-0.020094,0.000119,-0.000012,-283.629944,-36.703743,0.0,0.240041,234.635101
1,1.452161202185792263e+03,0.0,-0.012638,0.000118,-0.000012,-308.292603,-39.786575,0.0,0.239004,230.551880
2,1.452245901639344311e+03,0.0,-0.016058,0.000118,-0.000012,-288.211914,-37.276489,0.0,0.221954,233.876495
3,1.452327868852459005e+03,0.0,-0.006463,0.000118,-0.000013,-267.484985,-34.685623,0.0,0.160409,237.308105
4,1.452412568306010826e+03,0.0,0.005139,0.000117,-0.000013,-169.994705,-22.499338,0.0,0.404270,253.448883
...,...,...,...,...,...,...,...,...,...,...
6823,2.020663934426229616e+03,0.0,-0.009209,0.004294,-0.004775,-164.072586,-21.759073,0.0,0.302595,254.429367
6824,2.020745901639344311e+03,0.0,-0.011298,0.004293,-0.004774,-241.355301,-31.419413,0.0,0.199733,241.634216
6825,2.020830601092896131e+03,0.0,-0.026218,0.004292,-0.004774,-231.085007,-30.135626,0.0,0.356819,243.334595
6826,2.020912568306010826e+03,0.0,-0.012964,0.004291,-0.004773,-306.959564,-39.619946,0.0,0.257171,230.772583
6827,2.020997267759562874e+03,0.0,-0.013350,0.004290,-0.004773,-299.464233,-38.683029,0.0,0.200100,232.013535