In [18]:
import pandas as pd
import xarray as xr
import glob
import numpy as np
from src.helper_functions import load_all_input_dataframes

In [2]:
summit_path = '/home/jez/Community_Firn_Model_Forked/CFM_Lancaster/data/*.csv'
example_path = '/home/jez/Community_Firn_Model_Forked/CommunityFirnModel/CFM_main/CFMinput_example/example_*.csv'
adjusted_path = '/home/jez/Community_Firn_Model_Forked/CommunityFirnModel/CFM_main/CFMinput_example/adjusted_*.csv'

In [3]:
df_summit_test = pd.read_csv(glob.glob(summit_path)[0]).T.reset_index()
df_example_test = pd.read_csv(glob.glob(example_path)[0]).T.reset_index()
df_adjusted_test = pd.read_csv(glob.glob(adjusted_path)[0]).T.reset_index()

df_summit_test.rename(columns = {"index":"time",0:f"{glob.glob(summit_path)[0].split('/')[-1]}"}, inplace = True)
df_example_test.rename(columns = {"index":"time",0:f"{glob.glob(example_path)[0].split('/')[-1]}"}, inplace = True)
df_adjusted_test.rename(columns = {"index":"time",0:f"{glob.glob(adjusted_path)[0].split('/')[-1]}"}, inplace = True)

df_summit_test = df_summit_test.astype('float64')
df_example_test = df_example_test.astype('float64')
df_adjusted_test = df_adjusted_test.astype('float64')

In [5]:
683/12

56.916666666666664

In [22]:
np.argwhere(df_adjusted_test>1900).min()

ValueError: Shape of passed values is (2, 145), indices imply (683, 2)

In [20]:
np.argwhere(df_adjusted_test.time.values>1900).min()

538

In [12]:
df_adjusted_test.time[300:]

300    1702.082192
301    1702.912329
302    1703.745205
303    1704.579235
304    1705.410959
          ...
678    2017.082192
679    2017.912329
680    2018.745205
681    2019.578082
682    2020.412568
Name: time, Length: 383, dtype: float64

In [34]:
df_summit_test = df_summit_test.astype('float64')
df_example_test = df_example_test.astype('float64')
df_adjusted_test = df_adjusted_test.astype('float64')

             time  Summit_rainfall.csv
0     1907.287097         1.253631e-09
1     1907.370750         1.114491e-09
2     1907.454334         1.323821e-09
3     1907.537896         0.000000e+00
4     1907.622827         0.000000e+00
...           ...                  ...
1312  2016.622837         1.651636e-10
1313  2016.706170         2.169160e-09
1314  2016.789507         0.000000e+00
1315  2016.872951         0.000000e+00
1316  2016.956284         0.000000e+00

[1317 rows x 2 columns]

In [45]:
(df_summit_test['time'][1:]-df_summit_test['time'][:-1]).describe()

count    1315.0
mean        0.0
std         0.0
min         0.0
25%         0.0
50%         0.0
75%         0.0
max         0.0
Name: time, dtype: float64

In [42]:
summit_df = load_all_input_dataframes('/home/jez/Community_Firn_Model_Forked/CFM_Lancaster/data/*.csv')
example_df = load_all_input_dataframes('/home/jez/Community_Firn_Model_Forked/CommunityFirnModel/CFM_main/CFMinput_example/example_*.csv')

In [47]:
example_df.isnull().values.any()

False

In [43]:
summit_df

,time,Summit_rainfall.csv,Summit_precip.csv,Summit_snowmelt.csv,Summit_tskin.csv,Summit_snowfall.csv
0,1907.2870967741887,1.253631e-09,0.147750,0.000000e+00,248.47159,0.147707
1,1907.3707504787117,1.114491e-09,0.303790,1.877666e-12,239.48530,0.303752
2,1907.4543342171119,1.323821e-09,0.308736,1.410898e-05,240.11412,0.308691
3,1907.5378958609472,0.000000e+00,0.127475,0.000000e+00,227.74332,0.127483
4,1907.6228273677962,0.000000e+00,0.187026,2.786676e-05,234.18204,0.187026
...,...,...,...,...,...,...
1312,2016.6228369763205,1.651636e-10,0.189324,0.000000e+00,258.54532,0.189318
1313,2016.7061703096538,2.169160e-09,0.289887,0.000000e+00,252.29028,0.289812
1314,2016.7895073153534,0.000000e+00,0.774719,0.000000e+00,252.16891,0.774738
1315,2016.8729508196723,0.000000e+00,0.400798,0.000000e+00,239.21516,0.400800
1316,2016.9562841530055,0.000000e+00,0.260741,0.000000e+00,237.24333,0.260789

In [77]:
example_df

,time,example_SMELT.csv,example_SUBLIM.csv,example_STRAIN.csv,1,example_ISOTOPE_dD.csv,example_ISOTOPE_d18O.csv,example_RAIN.csv,example_BDOT.csv,example_TSKIN.csv
0,1.452081967213114694e+03,0.0,-0.020094,0.000119,-0.000012,-283.629944,-36.703743,0.0,0.240041,234.635101
1,1.452161202185792263e+03,0.0,-0.012638,0.000118,-0.000012,-308.292603,-39.786575,0.0,0.239004,230.551880
2,1.452245901639344311e+03,0.0,-0.016058,0.000118,-0.000012,-288.211914,-37.276489,0.0,0.221954,233.876495
3,1.452327868852459005e+03,0.0,-0.006463,0.000118,-0.000013,-267.484985,-34.685623,0.0,0.160409,237.308105
4,1.452412568306010826e+03,0.0,0.005139,0.000117,-0.000013,-169.994705,-22.499338,0.0,0.404270,253.448883
...,...,...,...,...,...,...,...,...,...,...
6823,2.020663934426229616e+03,0.0,-0.009209,0.004294,-0.004775,-164.072586,-21.759073,0.0,0.302595,254.429367
6824,2.020745901639344311e+03,0.0,-0.011298,0.004293,-0.004774,-241.355301,-31.419413,0.0,0.199733,241.634216
6825,2.020830601092896131e+03,0.0,-0.026218,0.004292,-0.004774,-231.085007,-30.135626,0.0,0.356819,243.334595
6826,2.020912568306010826e+03,0.0,-0.012964,0.004291,-0.004773,-306.959564,-39.619946,0.0,0.257171,230.772583
6827,2.020997267759562874e+03,0.0,-0.013350,0.004290,-0.004773,-299.464233,-38.683029,0.0,0.200100,232.013535

In [78]:
summit_df.describe()

,Summit_rainfall.csv,Summit_precip.csv,Summit_snowmelt.csv,Summit_tskin.csv,Summit_snowfall.csv
count,1.317000e+03,1317.000000,1.317000e+03,1317.000000,1317.000000
mean,2.148400e-09,0.224928,8.238878e-04,245.205589,0.224869
std,4.246902e-09,0.115956,1.474975e-02,10.511915,0.115927
min,0.000000e+00,0.027744,0.000000e+00,221.452760,0.027744
25%,0.000000e+00,0.139983,0.000000e+00,236.062470,0.139931
50%,6.016522e-10,0.208297,0.000000e+00,243.663990,0.208283
75%,2.188088e-09,0.285055,1.502133e-11,254.878460,0.285081
max,3.628133e-08,0.774719,5.148526e-01,264.648740,0.774738

In [79]:
example_df.describe()

,example_SMELT.csv,example_SUBLIM.csv,example_STRAIN.csv,1,example_ISOTOPE_dD.csv,example_ISOTOPE_d18O.csv,example_RAIN.csv,example_BDOT.csv,example_TSKIN.csv
count,6828.000000,6828.000000,6828.000000,6828.000000,6828.000000,6828.000000,6.828000e+03,6828.000000,6828.000000
mean,0.000271,-0.006691,0.001108,-0.001178,-248.728280,-32.341035,1.535824e-09,0.230435,240.413524
std,0.002711,0.014419,0.001518,0.001591,72.374357,9.046795,1.269078e-07,0.096925,11.982510
min,0.000000,-0.035479,-0.000024,-0.004825,-376.972717,-48.371590,-1.135081e-20,0.047071,219.181000
25%,0.000000,-0.015469,0.000133,-0.001562,-309.602325,-39.950291,0.000000e+00,0.154562,230.335037
50%,0.000000,-0.010092,0.000272,-0.000333,-259.033386,-33.629173,0.000000e+00,0.224072,238.707382
75%,0.000000,-0.001141,0.001481,-0.000159,-173.545776,-22.943222,0.000000e+00,0.290216,252.860958
max,0.127881,0.033306,0.004539,-0.000012,-123.653267,-16.706657,1.048661e-05,0.564016,261.121307